@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
	font-family: Poppins;
	box-sizing: border-box;
}

:root {
	--bgBlack: black;
	--bgWhite: white;
	--bgGray: #f7f7f7;
	--bgPink: #faddff;
	--lightPink: #f3f0fe;
	--darkPink: #f64580;
	--darkPurple: #23133c;
	--lightPurple: #ed4fff;
	--lightGray: #e5e5e5;
	--lightGrayV2: #979797;
	--lightGrayV3: #bcbcbc;
	--gray: #666;
	--offBlack: #333;
	--shadow: rgba(0, 0, 0, 0.2);
	--lightShadow: rgba(0, 0, 0, 0.08);
	--navHover: #f0e6ff;

	--hackPrimary: #c960ff;
	--hackSecondaryV1: #c137d8;
	--hackSecondaryV2: #9c28c5;
	--hackSecondaryV3: #3e2961;
	--hackAccent: #ff477e;

	--rounded-none: 0;
	--rounded-sm: 0.125rem;
	--rounded-md: 0.375rem;
	--rounded-lg: 0.5rem;
	--rounded-xl: 0.75rem;
	--rounded-2xl: 1rem;
	--rounded-3xl: 1.5rem;
	--rouned-full: 9999px;
}

:root.dark {
	--bgBlack: white;
	--bgWhite: rgb(31, 28, 36);
	--bgGray: rgb(41, 35, 50);
	--bgPink: #faddff;
	--lightPink: #2d2a37;
	--darkPink: #f64580;
	--darkPurple: #3e2961;
	--lightPurple: #ed4fff;
	--lightGray: rgb(60, 50, 74);
	--lightGrayV2: #aba4a4;
	--lightGrayV3: #bcbcbc;
	--gray: #666;
	--offBlack: #d4d4d4;
	--shadow: rgba(255, 255, 255, 0.2);
	--lightShadow: rgba(255, 255, 255, 0.08);
	--navHover: rgba(201, 96, 255, 0.2);

	--hackPrimary: #c960ff;
	--hackSecondaryV1: #c137d8;
	--hackSecondaryV2: #9c28c5;
	--hackSecondaryV3: #3e2961;
	--hackAccent: #ff477e;
}

h1 {
	margin: 0;
}

html {
	height: 100%;
}

body {
	color: var(--bgBlack);
	margin: 0;
	background-color: var(--bgWhite);
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
}

[data-aos='light-fade-up'] {
	transform: translateY(36px);
	opacity: 0;
	transition-property: transform, opacity;
	&.aos-animate {
		transform: translateY(0);
		opacity: 1;
	}
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: var(--hackPrimary) var(--bgWhite);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: var(--bgPink);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--hackPrimary);
	border-radius: var(--rounded-lg);
	border: 3px solid var(--bgPink);
}

/* ===== Highlighting ===== */
::selection {
  background-color: #a24eec4b;
	text-shadow: 0 0 25px var(--bgPink);
}

/* Firefox */
::-moz-selection {
  background-color: #8d21eb4b;
  color: #333333;
}