.toggle {
	height: 2rem;
	color: white;
	padding: 0 1rem;
}

.theme-icon {
	width: 2rem;
	height: 2rem;
	padding: 0.4rem;
}

@media (max-width: 1000px) {
	.toggle {
		width: 5.5rem;
		padding-top: 0.5rem;
		height: 3rem;
	}
}

@media (max-width: 460px) {
	.toggle {
		padding-left: 0;
		transform: scale(0.8);
		width: 4rem;
	}
}
