.toggle {
    height: 2rem;
    color: white;
    padding: 0 1rem;
}

.theme-icon {
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
}

@media (max-width: 1000px) {
	.toggle {
        height: 2.5rem;
	}
}