/* ========== Winner.jsx ========== */

.winner-container {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.winner-image {
    border-radius: var(--rounded-lg);
    overflow: hidden;
    max-height: 300px;
}

.winner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.winner-info {
    margin-top: .5rem;
}

.winner-title {
    font-weight: 400;
    margin-bottom: 0;
}

.winner-category {
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .5px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.winner-description {
    font-size: .9em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.winner-button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--darkPink);
    border: none;
    border-radius: var(--rounded-md);
    padding: .5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.winner-button a {
    color: white;
    text-decoration: none;
}

.winner-button:hover {
    text-decoration: none;
    background-color: var(--bgGray);
}

.winner-button:hover a {
    color: var(--darkPink);
}

@media (max-width: 600px) {
    .winner-container {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

/* ========== Winners.jsx ========== */
.winners-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.all-posts-button {
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: var(--rounded-md);
    background-color: var(--bgWhite);
    border: solid 0.1rem var(--darkPink);
}

.all-posts-button a {
    color: var(--darkPink);
    text-decoration: none;
}

.outer-winners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .winners-container {
        margin-left: 1rem;
        margin-right: 1rem
    }
}

@media (max-width: 400px) {
    .winners-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* ========== Gallery.jsx ========== */
#gallery {
	width: 100%;
	background-color: var(--bgGray);
}


.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.past-winners {
    display: flex;
    width: 10rem;
    color: var(--darkPink);
    border: none;
    background-color: var(--bgWhite);
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: var(--rounded-md); 
    font-size: 1em;
    letter-spacing: .5px;
    font-weight: 400;  
}

.past-winners:hover {
    color: var(--darkPink);
    background-color: var(--bgGray);
}

.past-winners-menu {
    background-color: var(--bgWhite);
}

.menu-item {
    background-color: var(--bgWhite);
    color: var(--bgBlack);
}

.menu-item:hover {
    background-color: var(--bgGray);
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 4rem;
}

.section-title {
    font-size: 2em;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    width: 100%;
}

@media (max-width: 800px) {
    .section-header {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-title {
        font-size: 1.5em;
        margin-left: 0rem;
    }

    .past-winners {
        height: 2.5em;
    }

    .section-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
@media (max-width: 500px) {
    .section-title {
        font-size: 1em;
        margin-left: 0rem;
    }

    .past-winners {
        font-size: 0.75rem;
    }

    .section-container {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}


/* ========== PhotoCarousel.jsx ========== */
.slides {
	position: relative;
	border-radius: 16px;
	overflow: hidden;
}

.slick-slide {
	border-radius: 16px;
}

.slick-prev,
.slick-next {
	position: absolute;
	z-index: 10;
	height: 30px;
	width: 30px;
}

.slick-prev {
	left: 2%;
}

.slick-next {
	right: 2%;
}

.slick-prev::before,
.slick-next::before {
	font-size: 30px;
}

.slick-dots {
	bottom: 25px;
}

.slick-dots li button:before {
	font-size: 8px;
	color: #bbb;
}

.slick-dots li.slick-active button:before {
	color: white;
}

.carousel-image {
	height: 450px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 16px;
	object-fit: cover;
	width: 100%;
	transition: border-radius 0.3s ease;
}

@media (max-width: 800px) {
	.carousel-image {
		height: 20rem;
	}

	.slick-dots li button:before {
		font-size: 0.5rem;
	}
}

@media (max-width: 600px) {
	.carousel-image {
		height: 13rem;
	}

	.slick-dots li button:before {
		font-size: 0.3rem;
	}
}